@model VernTestMVC.Models.Monster

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Monster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Health)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Health)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lvl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lvl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttackPower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttackPower)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weapon.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weapon.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
